﻿
<div>
    <h2 class="page-header">Job Details</h2>

</div>
<hr />
<div style="padding-top: 30px;" class="form-horizontal">
    <div class="form-group">
        <lable class="control-label col-md-2">Enter Token:-</lable>  <input type="text" id="txtToken" class="form-control col-md-4" />
    </div>
    <div class="form-group">
        <lable class="control-label col-md-2"> Enter JobId:-</lable>
        <input type="text" id="JobId" class="form-control col-md-4" />
    </div>
    <div style="padding-top: 30px;">
        <input type="button" class="btnNew" value="GetDeadLineDates" onclick="GetDeadLineDates();" />
        <input type="button" class="btnNew" value="GetGCDetails" onclick="GetGCDetails();" />
        <input type="button" class="btnNew" value="GetOwnerDetails" onclick="GetOwnerDetails();" />
        <input type="button" class="btnNew" value="GetLenderDetails" onclick="GetLenderDetails();" />
    </div>
    <div style="padding-top:15px">
        <table border=1 id="tbldata"></table>
        <div class="error" id="diverror" style="text-align: left;"></div>
    </div>

</div>
<div>


</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = "@Url.Content("~/api/JobDetails")";

    function GetDeadLineDates() {
        debugger;
        $('#tbldata').empty();
        $('#diverror').empty();
        var usertoken = $("#txtToken").val();

        var id = $('#JobId').val();
        $.ajax({
            type: 'GET',
            url: uri + '/GetDeadLienDates/' + id,
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + usertoken
            },
            success: function (data) {
                debugger;
                var tr;
                $.each(data, function (key, item) {
                    tr += '<tr><td>' + key + '</td><td>' + item + '</td></tr>';
                });
                $('#tbldata').append(tr);
            },
            complete: function (jqXHR) {
                debugger;
                if (jqXHR.status == '401') {
                    diverror.append(jqXHR.status + ' : ' + jqXHR.responseJSON["Message"])
                }
            },
            error: function (data) {
                debugger;

            }
        });

    }
    function GetGCDetails() {
        $('#tbldata').empty();
        $('#diverror').empty();
        var usertoken = $("#txtToken").val();
        var id = $('#JobId').val();
        $.ajax({
            type: 'GET',
            url: uri + '/GetGCDetails/' + id,
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + usertoken
            },
            success: function (data) {
                debugger;
                var tr;
                $.each(data, function (key, item) {
                    tr += '<tr><td>' + key + '</td><td>' + item + '</td></tr>';
                });
                $('#tbldata').append(tr);
            },
            complete: function (jqXHR) {
                if (jqXHR.status == '401') {
                    diverror.append(jqXHR.status + ' : ' + jqXHR.responseJSON["Message"])
                }
            }
        });
    }
    function GetOwnerDetails() {
        $('#tbldata').empty();
        $('#diverror').empty();
        var id = $('#JobId').val();
        var usertoken = $("#txtToken").val();
        $.ajax({
            type: 'GET',
            url: uri + '/GetOwnerDetails/' + id,
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + usertoken
            },
            success: function (data) {
                debugger;
                var tr;
                $.each(data, function (key, item) {
                    tr += '<tr><td>' + key + '</td><td>' + item + '</td></tr>';
                });
                $('#tbldata').append(tr);
            },
            complete: function (jqXHR) {
                if (jqXHR.status == '401') {
                    diverror.append(jqXHR.status + ' : ' + jqXHR.responseJSON["Message"])
                }
            }
        });
    }
    function GetLenderDetails() {
        $('#diverror').empty();
        $('#tbldata').empty();
        var id = $('#JobId').val();
        var usertoken = $("#txtToken").val();
        $.ajax({
            type: 'GET',
            url: uri + '/GetLenderDetails/' + id,
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + usertoken
            },
            success: function (data) {
                debugger;
                var tr;
                $.each(data, function (key, item) {
                    tr += '<tr><td>' + key + '</td><td>' + item + '</td></tr>';
                });
                $('#tbldata').append(tr);
            },
            complete: function (jqXHR) {
                if (jqXHR.status == '401') {
                    diverror.append(jqXHR.status + ' : ' + jqXHR.responseJSON["Message"])
                }
            }
        });
    }
</script>

