﻿@model ClientViewApi.Models.UserSecurity

@{
    ViewBag.Title = "Login";
}

<h2 class="page-header">Login</h2>

<form id="LoginForm">
    <div class="form-horizontal" >

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group"  style="padding-top: 30px;">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Generate Token" class="btnNew" onclick="Login();" />
            </div>
        </div>
        <div class="form-group">
            <lable class="col-md-2 control-label" style="text-align:right">Access Token :</lable>
            <div id="lbltoken" class="col-md-10" style="word-wrap: break-word;"> </div>
           
        </div>
        <div class="form-group" style="padding-top: 30px;">
            <lable class="col-md-6 control-label error" id="lblerror"></lable>
</div>
    </div>
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
        var uri = "@Url.Content("~/Home")";

function Login()
{
    debugger;
  $.ajax({
                type: 'POST',
                url: uri + '/Login/',
                data: $('#LoginForm').serialize(),
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    debugger;
                    if (data != "") {
                        var token = JSON.parse(data);
                        $('#lbltoken').text(token.access_token);
                    }
                    else {
                        $('#lblerror').text("Invalid UserName and Password.");
                        $('#lbltoken').empty();
                    } 
                },
                complete: function (jqXHR) {
                if (jqXHR.status == '401') {
                   
                }
            }
  });

}
    </script>
