﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ClientView Api", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Job Details", "Index", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
         
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .page-header {
        text-transform: uppercase !important;
        text-align: left !important;
        color: darkblue !important;
    }

    hr {
        border-top: 5px solid #1161a8 !important;
        margin-bottom: 2px !important;
    }

    .btnNew {
        font-weight: 700 !important;
        background-color: ghostwhite !important;
        border: outset !important;
        padding: 5px 5px !important;
    }
    .error{
        text-align:right;font-weight: 700;font-size:  medium;color:  red;
    }
</style>