<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Error.aspx.vb" Inherits="ErrorPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="color: black; font-style: normal">
        <strong></strong>
        <h1>
            <strong>Access Denied</strong><br />
        </h1>
        <hr />
        An error occured on your last request. The WebMaster has been notified<br />
        <br />
        Please Try Again.&nbsp; If the error perists try again at a later time<br />
        <br />
    </div>
    </form>
</body>
</html>
