<%@ Control Language="VB" ClassName="Home" %>
<script runat="server">
    Protected Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs) Handles Me.Load
        If Me.Page.IsPostBack = False Then
            Me.contentbox1.TemplateName = "home"
      
        End If
    End Sub
</script>
<script type="text/javascript">
    // $('#liJobs').addClass('site-menu-item has-sub open');
    //$(window).load(function () {
    //   // alert('hi');
    //    $('#liJobs').addClass('site-menu-item has-sub open');
    //});
    function MaintainMenuOpen() {
        SetHeaderBreadCrumb('', '', '');
        document.getElementById('divBreadcrumb').innerHTML = "";
        //$('#liJobs').addClass('site-menu-item has-sub active open');
        //$('#lisubPlaceJobs').addClass('site-menu-item active');
        return false;

    }
   
</script>


                        <div id="content-wrap" style="background: #fff">
                            <SiteControls:contentbox ID="contentbox1" TemplateName="home" runat="server" />
                        </div>
                  
