
        <head>
            <style type="text/css">
                .style1
                {
                    font-family: Arial, Helvetica, sans-serif;
                    
                }
                .style3
                {
                    font-size: small;
                }
                .style4
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    color: #000099;
                }
                .style5
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: x-large;
                }
            </style>
        </head>
        <h2 class="style5">Training Videos</h2>
        <div class="line"></div><br />
        
        <h2 class="style4">CollectView Videos</h2>
        
        <a href="" target="_blank"><img src="images/EnteringAccounts.jpg" alt="View Job" class="photo-float-left photo-border" style="width: 130px; height: 119px" /></a>        
        <br /><br /><br /><h4><strong><span class="style1" style="color: #000080">Entering A New Account In CollectView</span></strong></h4>
        <br /><br /><br /><br />
        
        <a href="" target="_blank"><img src="images/ViewingAccounts.jpg" alt="View Job" class="photo-float-left photo-border" style="width: 130px; height: 119px" /></a>        
        <br /><br /><br /><h4><strong><span class="style1" style="color: #000080">Viewing An Account In CollectView</span></strong></h4>
        <br /><br /><br /><br />
                
        <a href="" target="_blank"><img src="images/CreatingReports.jpg" alt="View Job" class="photo-float-left photo-border" style="width: 130px; height: 119px" /></a>        
        <br /><br /><br /><h4><strong><span class="style1" style="color: #000080">Creating Reports In CollectView</span></strong></h4>
        <br /><br /><br /><br />
                
        