        <head>
            <style type="text/css">
                .style4
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: large;
                    color: #000099;
                    font-weight: bold;
                }
                .style5
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }
            </style>
        </head>
        <h2 class="style4">Creating Reports In CollectView</h2><br />
        
       
        
        <object id="scPlayer"  width="700" height="525" type="application/x-shockwave-flash" data="http://content.screencast.com/users/CRFSolutions/folders/Account%20Reports/media/67fc595d-fbdb-44a2-b29c-e77ebda02c6a/scplayer.swf" ><param name="movie" value="http://content.screencast.com/users/CRFSolutions/folders/Account%20Reports/media/67fc595d-fbdb-44a2-b29c-e77ebda02c6a/scplayer.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#FFFFFF" /><param name="flashVars" value="thumb=http://content.screencast.com/users/CRFSolutions/folders/Account%20Reports/media/67fc595d-fbdb-44a2-b29c-e77ebda02c6a/FirstFrame.png&containerwidth=800&containerheight=600&autohide=true&autostart=true&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/CRFSolutions/folders/Account%20Reports/media/67fc595d-fbdb-44a2-b29c-e77ebda02c6a/CollectionReports.mp4&blurover=false" /><param name="allowFullScreen" value="true" /><param name="scale" value="showall" /><param name="allowScriptAccess" value="always" /><param name="base" value="http://content.screencast.com/users/CRFSolutions/folders/Account%20Reports/media/67fc595d-fbdb-44a2-b29c-e77ebda02c6a/" /><iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/CRFSolutions/folders/Account%20Reports/media/67fc595d-fbdb-44a2-b29c-e77ebda02c6a/embed" height="525" width="700" ></iframe></object>
<br />
<br />