<head>
    <style type="text/css">
        .style4 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            color: #000099;
            font-weight: bold;
        }

        .style5 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    </style>
</head>
<script type="text/javascript">

    function MaintainMenuOpen() {
        SetHeaderBreadCrumb('CollectView', 'Training Videos', 'Create Reports');
        MainMenuToggle('liCollectViewTraining');
        SubMenuToggle('liCreateReports');
        //$('#liCollectViewTraining').addClass('site-menu-item has-sub active open');
        //$('#liCreateReports').addClass('site-menu-item active');
        return false;

    }
   
</script>

                                <div>

                                    <h2 class="style4">Viewing Reports In CollectView</h2>
                                    <br />



                                    <p class="style5">***Coming Soon***</p>
                                </div>
                        
