<head>
    <style type="text/css">
        .style4 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            color: #000099;
            font-weight: bold;
        }

        .style5 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    </style>
</head>
<script type="text/javascript">

    function MaintainMenuOpen() {
        SetHeaderBreadCrumb('CollectView', 'Training Videos', 'View Accounts');
        MainMenuToggle('liCollectViewTraining');
        SubMenuToggle('liViewAccount');
        //$('#liCollectViewTraining').addClass('site-menu-item has-sub active open');
        //$('#liViewAccount').addClass('site-menu-item active');
        return false;

    }
  
</script>


                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-12" style="text-align: left;">
                                                <h2 class="style4">Viewing An Account In CollectView</h2>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12" style="text-align: left;">
                                                <div style="width: auto; height: auto; overflow: auto;">
                                                    <object id="scPlayer" width="800" height="525" type="application/x-shockwave-flash" data="http://content.screencast.com/users/CRFSolutions/folders/Account%20View/media/56a02e5d-2692-49ee-aa3d-57c9a0b108cf/scplayer.swf">
                                                        <param name="movie" value="http://content.screencast.com/users/CRFSolutions/folders/Account%20View/media/56a02e5d-2692-49ee-aa3d-57c9a0b108cf/scplayer.swf" />
                                                        <param name="quality" value="high" />
                                                        <param name="bgcolor" value="#FFFFFF" />
                                                        <param name="flashVars" value="thumb=http://content.screencast.com/users/CRFSolutions/folders/Account%20View/media/56a02e5d-2692-49ee-aa3d-57c9a0b108cf/FirstFrame.png&containerwidth=800&containerheight=600&autohide=true&autostart=true&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/CRFSolutions/folders/Account%20View/media/56a02e5d-2692-49ee-aa3d-57c9a0b108cf/ViewAccount2011.mp4&blurover=false" />
                                                        <param name="allowFullScreen" value="true" />
                                                        <param name="scale" value="showall" />
                                                        <param name="allowScriptAccess" value="always" />
                                                        <param name="base" value="http://content.screencast.com/users/CRFSolutions/folders/Account%20View/media/56a02e5d-2692-49ee-aa3d-57c9a0b108cf/" />
                                                        <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;" src="http://www.screencast.com/users/CRFSolutions/folders/Account%20View/media/56a02e5d-2692-49ee-aa3d-57c9a0b108cf/embed" height="525" width="700"></iframe>
                                                    </object>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                           

