﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JobDetails</title>
</head>
<body>

    <div>
        <h2 class="page-header">Job Details</h2>

    </div>
    <hr />
    <div style="padding-top: 30px;">
        <div>
            UserName : <input type="text" id="UserName" />
            Password : <input type="text" id="Password" />
        </div>
        <br />

        Enter JobId:-
        <input type="text" id="JobId" />
        <div style="padding-top: 30px;">
            <input type="button" class="btn" value="GetDeadLineDates" onclick="GetDeadLineDates();" />
            <input type="button" class="btn" value="GetGCDetails" onclick="GetGCDetails();" />
            <input type="button" class="btn" value="GetOwnerDetails" onclick="GetOwnerDetails();" />
            <input type="button" class="btn" value="GetLenderDetails" onclick="GetLenderDetails();" />
        </div>
        <div style="padding-top:15px">
            <table border=1 id="tbldata"></table>
            <div style="color:red" id="diverror"></div>
        </div>

    </div>
    <div>


    </div>
    <style>
        .page-header {
            text-transform: uppercase;
            text-align: left;
            color: darkblue;
        }

        hr {
            border-top: 5px solid #1161a8 !important;
            margin-bottom: 2px !important;
        }

        .btn {
            font-weight: 700;
            background-color: ghostwhite;
            border: outset;
            padding: 5px 5px;
        }
    </style>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = "@Url.Content("~/api/JobDetails")";

        function GetDeadLineDates() {
            debugger;
            $('#tbldata').empty();
            $('#diverror').empty();
            var username = $("#UserName").val();
            var password = $("#Password").val();
            var id = $('#JobId').val();
            $.ajax({
                type: 'GET',
                url: uri + '/GetDeadLienDates/' + id,
                dataType: 'json',
                // Specify the authentication header
                // btoa() method encodes a string to Base64
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ':' + password)
                },
                success: function (data) {
                    debugger;
                    var tr;
                    $.each(data, function (key, item) {
                        tr += '<tr><td>' + key + '</td><td>' + item + '</td></tr>';
                    });
                    $('#tbldata').append(tr);
                },
                complete: function (jqXHR) {
                    debugger;
                    if (jqXHR.status == '401') {
                        diverror.append(jqXHR.status + ' : ' + jqXHR.statusText)
                    }
                },
                error: function (data) {
                    debugger;
                    alert("error " + data)
                }
            });

        }
        function GetGCDetails() {
            $('#tbldata').empty();
            $('#diverror').empty();
            var username = $("#UserName").val();
            var password = $("#Password").val();
            var id = $('#JobId').val();
            $.ajax({
                type: 'GET',
                url: uri + '/GetGCDetails/' + id,
                dataType: 'json',
                // Specify the authentication header
                // btoa() method encodes a string to Base64
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ':' + password)
                },
                success: function (data) {
                    debugger;
                    var tr;
                    $.each(data, function (key, item) {
                        tr += '<tr><td>' + key + '</td><td>' + item + '</td></tr>';
                    });
                    $('#tbldata').append(tr);
                },
                complete: function (jqXHR) {
                if (jqXHR.status == '401') {
                    diverror.append(jqXHR.status + ' : ' + jqXHR.statusText)
                }
            }
            });
        }
        function GetOwnerDetails() {
            $('#tbldata').empty();
            $('#diverror').empty();
            var id = $('#JobId').val();
            var username = $("#UserName").val();
            var password = $("#Password").val();
            $.ajax({
                type: 'GET',
                url: uri + '/GetOwnerDetails/' + id,
                dataType: 'json',
                // Specify the authentication header
                // btoa() method encodes a string to Base64
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ':' + password)
                },
                success: function (data) {
                    debugger;
                    var tr;
                    $.each(data, function (key, item) {
                        tr += '<tr><td>' + key + '</td><td>' + item + '</td></tr>';
                    });
                    $('#tbldata').append(tr);
                },
                complete: function (jqXHR) {
                if (jqXHR.status == '401') {
                    diverror.append(jqXHR.status + ' : ' + jqXHR.statusText)
                }
            }
            });
        }
        function GetLenderDetails() {
            $('#diverror').empty();
            $('#tbldata').empty();
            var id = $('#JobId').val();
            var username = $("#UserName").val();
            var password = $("#Password").val();
            $.ajax({
                type: 'GET',
                url: uri + '/GetLenderDetails/' + id,
                dataType: 'json',
                // Specify the authentication header
                // btoa() method encodes a string to Base64
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ':' + password)
                },
                success: function (data) {
                    debugger;
                    var tr;
                    $.each(data, function (key, item) {
                        tr += '<tr><td>' + key + '</td><td>' + item + '</td></tr>';
                    });
                    $('#tbldata').append(tr);
                },
                complete: function (jqXHR) {
                if (jqXHR.status == '401') {
                    diverror.append(jqXHR.status + ' : ' + jqXHR.statusText)
                }
            }
            });
        }
    </script>

</body>
</html>
