<%@ Control Language="VB" AutoEventWireup="false" Inherits="HDS.WEBSITE.UI.BaseUserControl" %>
<%@ Register Assembly="HDS.WEBLIB" Namespace="HDS.WEBLIB.Controls" TagPrefix="cc1" %>
<style type="text/css">
    .style1
    {
        font-size: small;
        color: #FFFFFF;
    }
    .style2
    {
        color: #FFFFFF;
    }
</style>
<center>
<br /><span class="style1">Copyright &copy; 2005-2015 CRF Solutions | All Rights Reserved
    </span>
<br class="style2" />
</center>