@import "style.css";
body { font: normal 80% 'Trebuchet MS', Verdana, Tahoma, sans-serif; color: #3C3836; background: url(img/blue/bg.jpg) repeat; }

h1 { font-size: 190%; color: #FFC567; }
h2 { font-size: 140%; color: #516887; }
h3 { font-size: 130%; color: #516887; }
h4 { font-size: 120%; color: #FFC567; }
h5 { font-size: 110%; color: #FFC567; }
h6 { font-size: 100%; color: #FFC567; }

a, a:visited { color: #4F82CB; text-decoration: none;  background: inherit; }
a:hover { color: #000; background: inherit; }
a.button { color: #FFFFFF; background: url(img/blue/buttonface.jpg) repeat; }
a.button:hover { color: #000; background: url(img/blue/itemhover.jpg) repeat-x 0 0;}
input.button { color: #FFFFFF; background: url(img/blue/buttonface.jpg) repeat; }
input.button:hover { color: #000; background: url(img/blue/itemhover.jpg) repeat-x 0 0;}
.gridbutton { color: #FFFFFF; background-color:Transparent }
.gridbutton:hover { color: #000; background: url(img/blue/itemhover.jpg) repeat-x 0 0;}


#content-wrap {background: url(img/blue/content.jpg); }
#footer { font-size: 80%; color: #194174; background: #e0e0f0 url(img/blue/footer.jpg) repeat-x center top; }	
  
#sidebar h1 {color: #fff;margin: 2px; padding:5px; font-size: 110%; font-weight:bold; text-transform:uppercase; text-align:center; background:url(img/blue/backhead.jpg) #d8d8d8 repeat; }
#sidebar .sidemenu h1 {color: #fff; margin: 2px; padding:5px; font-size: 110%; font-weight:bold; text-transform:uppercase; text-align:center; background:url(img/blue/backhead.jpg) #d8d8d8 repeat; }
#post .footer  { font-size: 90%; color: #7B4804; }
#post .title a, a:visited  { color: #082A9B; }
#post .title a:hover  { color: #E68C17; }
#post .subtitle { color: #916400; }

/****************Image*****************/
.photo-border { border:1px solid #cecece; padding:4px; margin-bottom:1px; display:block;}

.photo-float-left {	float:left;	margin-right:10px;}

.image-border-none { border:none;}