﻿
.row-label {
line-height:15px;
text-align: right;
font-weight:bold;
color: #224B81;
vertical-align:top ;
padding:   0PX 4px 2PX 2PX;
}
  
  body {

    font-family:Trebuchet MS;
    font-size:12px;  
	color: #3C3836; 
	background: url(img/bg.jpg) repeat;	
	text-align: center;	
	height: 100%;
    
}

a.button
{
	margin: 0;
	color: #FEEFDD;
	text-decoration: none;
	background: url(../App_Themes/VBJUICE/img/blue/backhead.jpg);
	border: 1px solid #999999;
	font-size: 11px;
	line-height: 12px;
	padding: 1px 2px 1px 2px;
	height: 20px;
}
a.button:hover
{
	color: #176094;
	background-color: #416271;
	background: url(App_Themes/VBJUICE/img/blue/itemhover1.jpg) repeat-x 0 0;
	font-weight: bold;
} 

input.button
{
	margin: 0;
	color: #FEEFDD;
	text-decoration: none;
	background-image: url(img/blue/backhead.jpg);
	border: 1px solid #999999;
	font-size: 11px;
	line-height: 12px;
	padding: 1px 2px 1px 2px;
	height: 20px;
	background-position-x: center;
}
input.button:hover
{
	color: #176094;
	background: url(img/blue/itemhover1.jpg) repeat-x 0px 0px;
} 

