/********************************************
   AUTHOR:  			ray alonso
   WEBSITE:   			http://www.gohds.net/
   TEMPLATE NAME:		BLUE JUICE
   TEMPLATE CODE: 		VBJUICE-BLUE
   VERSION:				1.0          	
 *******************************************/
	/* top elements */
    * { margin: 0; padding: 0; outline: 0; }
/* LAYOUT */
* { margin: 0; padding: 0; }
body {
	margin:  20px 0; 	padding: 0;
	font: normal .90em/1.8em   Verdana, Tahoma, sans-serif;
	font-size:12px;
	color: #3C3836; 
	background: url(img/bg.jpg) repeat;	
	text-align: center;	
	height: 100%;
    width:1000px;
}
#wrap {
	width: 950px;
	background: #FFF;
	margin: 0 auto;
	text-align: left;
	border: 1px solid #999999;

}

#content-wrap {
	clear: both;
	padding: 2px; 
	margin: 0 auto;
	background: url(img/content.jpg) repeat-x center top;	

}

#main {
	float: right;
	padding: 10; margin-top: 10px;
	width:750px;

}

#sidebar {
	float: left;
	width: 175px;
	padding: 10; margin-top: 10px;	
}

/* Sidebar */	
	
#sidebar h1 {
	padding:  2px 0 2px 10px; 
    font: bold normal 14px 'Trebuchet MS', serif;
	color: #FEEFDD;
    background:url(img/blue/backhead.jpg) repeat-x;
	border: 1px solid #999999;
	height: 20px;
}
#sidebar .left-box {
	border: 1px solid #999999;
	margin: 0 0 5px 0;	
}

form {
	margin:0; padding: 0;
	background-color: #FAFAFA; 
}


/* links */
a, a:visited {
	text-decoration: none;
	color: #4F82CB; 
	background: inherit;
}
a:hover {
	color: #E68C17;
	background: inherit;
}

/* headers */
h1, h2, h3, h4 {
	font-weight: Bold; 		
}

h1 {
	font-size: 190%;
	color: #176093;
	
}
h2 {
	font-size: 140%;
	color: #E68C17;
}

h3 {
	font-size: 120%;
	color: #E68C17; 
}


h4 {
	font-size: 110%;
	color: #176093; 
}

/* images */

img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3, p {
	padding: 3px;		
	margin: 0;
}
ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
	color: #516887;	
}
ul span, ol span {
	color: #666666;
}

code, pre  {
  margin: 10px 30px 10px 30px;
  padding:  10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  /* white-space: pre; */
  background: 	#FFF380;
  border: 1px solid #999999;
}

acronym {
  cursor: help;
 border: 1px solid #999999;
}
blockquote {
	margin: 10px;
 	padding: 0 0 0 28px;  
    border: 1px solid #f2f2f2; 
  	background: #FAFAFA url(img/quote.gif) no-repeat 5px 5px;    
}

p {
text-align:left;
line-height:15px;
}



.normalred {
font-size: 12px;
font-weight:bold;
color: Red;
}

/* search */
form.search {
	position: absolute;
	top: 35px; right: 25px;
	background: transparent;
	border: none;	
}	
form.search input.textbox {
	margin: 0; padding: 1px 2px;
	width: 120px;
	background: #FFF;
	color: #333; 
}
form.search input.button {
	background: #CCC url(img/headerbg.gif) repeat-x;
	color: #333;
	border: none;	
	width: 70px;
}

/********************************************
   LAYOUT
********************************************/ 


#header {
	position: relative;
	height: 75px;
	background: url(img/blue/header.jpg) repeat;	
	padding: 1px;
	padding-right:2px;
	font-size: 14px;
	color: #FFF;
}

#header .logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font-size: 40px;	
	letter-spacing: -1px;
	line-height:50px;
	text-transform: none;
	text-decoration: none;
	background: transparent;
	/* change the values of top and left to adjust the position of the logo*/
	top: 10px; left: 30px;
	color: #fff;	
	
}
#header .logo-text a:visited {
	color: #fff;	
	background: transparent;

}

#header .logo-text a:hover {
	color: #B8D49A;

}

#header .slogan {
	position: absolute;
	margin: 0; padding: 0;
	font-size: 14px;
	font-weight: bold;	
	text-transform: none;
	color: #DCE4D2;
	top: 55px; left: 60px;		
}

/* header links */
#header #header-links {
	position: absolute;
	top: 20px; right: 30px;	
	color: #638ECE;
	font-size: 12px;
	font-weight: bold;	
}
#header #header-links a {	
	color: #295492;
	text-decoration: none;
	background: transparent;
	
}

#header #header-links a:visited {
	color: #295492;	
	background: transparent;

}

#header #header-links a:hover {
	color: #B4D1FB;	
}

/* Footer */	
#footer {
	color: #335D7E;
	clear: both;
	height: 55px;
	text-align: center;	
	font-size: 12px;
	background: #e0e0f0 url(img/blue/footer.jpg) repeat-x center top;	
}



	#menu { background: url(img/blue/menubar.jpg); height:28px; width:950px; }
	ul.menu {list-style:none; margin:0; padding:0}
	ul.menu * {margin:0; padding:0}
	ul.menu a {display:block; color:#fff; text-decoration:none}
	ul.menu li {position:relative; float:left; margin-right:1px;  width:85px;  border-right: 1px solid #FFFFFF;}
	ul.menu li.menulink a:link, ul.menu li.menulink a:visited {display:block; text-align:center; text-decoration:none; padding:5px; background: url(img/blue/menubar.jpg) repeat; color: #FFF;}
	ul.menu li.menulink a:hover {background:url(img/blue/itemhover.jpg) #FCECC7 repeat-x; color: #000; font-weight:bold;}
	
	ul.menu ul {position:absolute; top:29px; left:0; background:#DCE4D2; display:none; list-style:none}
	ul.menu ul li {position:relative; border:1px solid #aaa;   border-top:none; width:148px; margin:0}
	ul.menu ul li a:link, ul.menu li a:visited {display:block; padding:3px 7px 5px; text-decoration:none; padding:5px; background-color: #FFF ; color: #fff;}
	ul.menu ul li a:hover { background:url(img/blue/itemhover.jpg) #FCECC7 repeat-x; color: #000; font-weight:bold;}
	
	ul.menu ul ul {left:148px; top:-1px}
	
	ul.menu .menusublink {margin-top:1px;  }
	ul.menu .sub {background:#fff url(img/arrow.gif) 136px 8px no-repeat}
	ul.menu .topline {border-top:1px solid #aaa}
	
	ul.menu li.sub a:link, ul.menu li.sub a:visited {background:url(img/blue/menusub.jpg); display:block; text-align:left; text-decoration:none; padding:5px;  color: #fff;}
	ul.menu li.sub a:hover {background:url(img/blue/itemhover.jpg) #FCECC7 repeat-x; color: #000}
	ul.menu li.topline a:link, ul.menu li.topline a:visited {background:url(img/blue/menusub.jpg); display:block; text-align:left; text-decoration:none; padding:5px; color: #fff;}
	ul.menu li.topline a:hover {background:url(img/blue/itemhover.jpg) #FCECC7 repeat-x; color: #000; font-weight:bold;}

	.sidemenu ul { list-style: none; margin : 1px ; padding:0px; }
	.sidemenu ul li a:link, .sidemenu ul li a:visited {display:block; text-decoration:none; padding:5px; background:url(img/blue/navsub.jpg) #DCE4D2 ; color: #000; border-bottom: 1px solid #FFF;}
	.sidemenu ul li a:visited {display:block; text-decoration:none; padding:5px; background:url(img/blue/navsub.jpg) #DCE4D2 ; color: #000; border-bottom: 1px solid #FFF;}
	.sidemenu ul li a:hover {background:url(img/blue/itemhover.jpg) #FCECC7 repeat-x; color: #000; font-weight:bold;}
	.sidemenu ul ul {margin-left:12px;}
	.sidemenu ul ul li {margin:0; background:url(img/blue/navsub.jpg) #DCE4D2 ; color: #FFFFFF; border-bottom: 1px solid #FFF;}
	.sidemenu ul ul a, a:visited {background:url(img/blue/navsub.jpg) #DCE4D2   ; color: #000; }
	.sidemenu ul ul a:hover {background:url(img/blue/itemhover.jpg) #FCECC7 repeat-x; color: #000; font-weight:bold;}


/* buttons */

.gridbutton { 
	font: bold 9px Arial, Sans-serif; 
	margin: 0;
	padding: 0 2px 0 2px;
	color: #FEEFDD;
  	text-align:center;
  	text-decoration:none;
    background-color:Transparent;
	border: 1px solid #999999;
}

.gridbutton:hover {
	color: #176094;
	background: url(img/blue/itemhover.jpg) repeat-x 0 0;	
	
}
.gridbutton ul li a:hover {
	color: #176094;
	background: url(img/blue/itemhover.jpg) repeat-x 0 0;	
	
}
.gridbutton ul li#current a {	
	color: #176094;
    background-color:#416271;	
}

a.button {
	margin: 0;
	color: #FEEFDD;
	text-decoration:none;
    background: url(img/blue/backhead.jpg) repeat;
	border: 1px solid #999999;
    font-size: 11px;
    line-height:12px;
    padding: 1px  2px 1px 2px; 
    height:20px;
}
a.button:hover 
{
	color: #176094;
    background-color:#416271;	
	background: url(img/blue/itemhover1.jpg) repeat-x 0 0;
        font-weight:bold	
} 

input.button {
	margin: 0;
	color: #FEEFDD;
	text-decoration:none;
    background: url(img/blue/backhead.jpg) repeat;
	border: 1px solid #999999;
    font-size: 11px;
    line-height:12px;
    padding: 1px  2px 1px 2px; 
    height:20px;

}
input.button:hover 
{
	color: #176094;
    background-color:#416271;	
	background: url(img/blue/itemhover1.jpg) repeat-x 0 0;	

} 

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }
.gray { color: #CCC; }

/* post */

#post {
float:left;
padding: 10px;

}
#post a {
text-decoration: none;
}

#post a:hover {
text-decoration: none;
}

#post .textbox
{
	cursor:pointer;
   	border:1px solid #999999;
}
#post hr {
	background-color: #E68C17;
	height: 1px;
}

#post .title {
	margin-top: 10px;
	font-weight:bold;
	font-size: 160%;
}

#post .title a {
	text-decoration: none;
}

#post .title a:hover {
text-decoration: none;
}

#post .subtitle {
	font-weight:bold;
	font-size: 90%;
	padding: 5px  0 5px 0px; 	
}

#post .subtitle a {
text-decoration: none;
}

#post .subtitle a:hover {
text-decoration: none;
}


#post .body {
	font-size: 100%;
}

#post .commentbox
{
background-color: #ececec;
padding: 10px;
font-size: 100%;
}

#post .commentfooter{
background: url(img/arrow.gif) 20px 0 no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
padding-left: 58px;
margin-bottom: 2em;
color: #4A4A4A;
}

#post .footer
{
   	height: 30px;
    float:left;
   	color: #A2745D;
    font-size: 80%;
    padding: 10px 0 0 0 ;

} 


/* gridviews
*/

.gridview 
{
	font-family: arial;
	font-size:11px;
	margin-left:20px;
	border: solid 1px #7f7f7f;	
}

.gridview td {
    padding-left:5px;
}  
   
.gridview .altrowstyle 
{
    background:url(img/blue/gridrow.jpg) #DCE4D2;

    height: 15px;    
}

.gridview .rowstyle 
{
    background:url(img/blue/gridrowalt.jpg) #F2F4FC;
    height: 15px;    
}
.gridview .headerstyle{
    background-color:#e5e5e5;
    background:url(img/blue/sprite.png) #d8d8d8 repeat-x;
    color: #000;
    font-weight:bolder;
    text-transform:uppercase;
     height:18px;    
}
.gridview .headerstyle th {
    border:1px solid #bbbbbb;
    padding-left:5px;
    text-align:center;
}  
.gridview .headerstyle a {
    color:black;
}    
.gridview .sortalternatingrowstyle{
    background-color:#e5e5e5
}
.gridview .sortrowstyle{
    background-color:#f0f0f0
}
.gridview .sortascheaderstyle{
    background:#c5c5c5 url(img/sort_asc.jpg) no-repeat scroll right center;
    padding-left:5px;
}
.gridview .sortdescheaderstyle{
    background:#c5c5c5 url(img/sort_desc.jpg) no-repeat scroll right center;
    padding-left:5px;
}   
.gridview .pagerstyle{
    color:#444444;
    background-color:#e5e5e5;
    background:url(img/blue/sprite.png) #d8d8d8 repeat-x;
    font-size:x-small;
    text-align:right;
    margin: 0;
    padding-top:0px;
} 

.gridview .pagerstyle select{
    font-size:x-small;
} 

.gridview .pagerstyle img{
    height: 18px; 
	width: 20px;
} 
.gridview .firstpage{
    background:transparent url(img/resultset_first.png) no-repeat scroll center;
   	margin: 0;
	padding: 2px;
	color: #FEEFDD;
    height: 18px; 
 	width: 20px;

}
.gridview .nextpage{
    background:transparent url(img/resultset_next.png) no-repeat scroll center;
   	margin: 0;
	padding: 2px; 
	color: #FEEFDD;
   height: 18px; 
	width: 20px;

}  

.gridview .lastpage{
    background:transparent url(img/resultset_last.png) no-repeat scroll center;
  	margin: 0;
	padding: 2px; 
	color: #FEEFDD;
   height: 18px; 
	width: 20px;

}
.gridview .prevpage{
    background:transparent url(img/resultset_previous.png) no-repeat scroll center;
   margin: 0;
	padding: 2px; 
	color: #FEEFDD;
   height: 18px; 
	width: 20px;

}  
.gridview .gotopage{
    font-size:x-small;
    width: 20px;
}


/* start - table */
#content {
background-color: 	#FFFFFF;
}

#content table {
	border-collapse: collapse;
	margin: 10px;	
}
#content th strong {
	color: #fff;
}
#content th {
	background: #A9832C;
	height: 29px;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFF;
	text-align: left;
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #FFF;
}
#content tr {
	height: 30px;
}
#content td {
	padding-left: 11px;
	padding-right: 11px;
	border-left: 1px solid #FFF;
	border-bottom: solid 1px #ffffff;
}
#content td.first,th.first {
	border-left: 0px;
}
#content tr.row-a {
	background: #F8F8F8;
}
#content tr.row-b {
	background: #EFEFEF;
}

/* yui-style-calendar */

.calendar .ajax__calendar_container 
{
    background-color:#f2f2f2;
    border:solid 1px #808080;
    font-family:arial,helvetica,clean,sans-serif;
    cursor:default;
    width:205px;
    height:200px;
    font-size:12px;
    text-align:center;
    padding:0px;
}

.calendar .ajax__calendar_body 
{
    height:175px;
    width:205px;
    position:relative;
    overflow:hidden;
}

.calendar .ajax__calendar_days, .calendar .ajax__calendar_months, .calendar .ajax__calendar_years 
{
    top:0px; 
    left:0px;
    height:175px;
    width:195px;    
    padding:5px;
    position:absolute;
    text-align:center;
}

.calendar .ajax__calendar_days table
{
    border-spacing:0;
    border-collapse:collapse;
    font:100% sans-serif;
    text-align:center; 
   	padding-left: 0px;
	padding-right: 0px;
   
}

.calendar .ajax__calendar_days th {
	height: 25px;
}
.calendar .ajax__calendar_days tr {
	height: 25px;
}
.calendar .ajax__calendar_days td {
	padding-left: 0px;
	padding-right: 0px;
	width:5px;
}

.calendar .ajax__calendar_header 
{
    background:url(img/sprite.png) repeat-x 0 0; 
    height:22px;
    width:100%;
    font-size:10pt;
    font-weight:bold;
    text-align:center;
    padding-top:3px;
}


.calendar .ajax__calendar_prev 
{
    margin-top:1px;
    margin-left:4px;
    height:18px;
    width:25px;
    cursor:pointer;
    float:left;
    background:url(img/prev.gif) no-repeat;
}

.calendar .ajax__calendar_next 
{
    margin-top:1px;
    margin-right:0px;
    height:18px;
    width:25px;    
    cursor:pointer;
    float:right;
    background:url(img/next.gif) no-repeat;
}

.calendar .ajax__calendar_title 
{
    cursor:pointer;
    font-weight:bold;
    text-align:center;
}

.calendar .ajax__calendar_footer, .calendar .ajax__calendar_today 
{
    display:none;
}

.calendar .ajax__calendar_dayname 
{
    padding-left:3px;
    padding-right:3px;
    margin-bottom:5px;
    margin-left:2px;
    margin-right:2px;
    text-align:center;
    font-weight:700;
    font-size:10pt;
    color:#000;
    border-bottom:solid 1px #a6a6a6;
}

.calendar .ajax__calendar_day, .calendar .ajax__calendar_month, .calendar .ajax__calendar_year
{
    padding:0px;
    color:#000;
    text-align:center;  
    padding:0pt 2px;
}

.calendar .ajax__calendar_hover .ajax__calendar_day, .calendar .ajax__calendar_hover .ajax__calendar_month, .calendar .ajax__calendar_hover .ajax__calendar_year, .calendar .ajax__calendar_hover .ajax__calendar_title
{
    color:#0066cc;
}

.calendar .ajax__calendar_other .ajax__calendar_day, .calendar .ajax__calendar_other .ajax__calendar_year
{
    color:#a6a6a6;   
}

.calendar .ajax__calendar_active .ajax__calendar_day
{
    color:#0066cc;   
}

/* 
	The transparent background that
	covers the whole screen
*/
.TransparentGrayBackground 
{
	position: fixed;
	top: 0;
	left: 0;
	
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
	
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%
	
}

/* Style classes for Sample7 */
.PageUpdateProgress
{
	background-color:#CF4342;
	color:#fff;
	width: 250px;
	text-align: center;
	vertical-align: middle;
}


/* tabcontainer
*/

/* tab theme */
.tabs  .ajax__tab_header 
{
    font-family:"Helvetica Neue", Arial, Sans-Serif;
    background:url(img/blue/tab-line.png) repeat-x bottom;
    font-size:12px;
    display:block;
}
.tabs  .ajax__tab_header .ajax__tab_outer 
{
    background:url(img/blue/itemhover1.jpg) no-repeat left top;
    border-color:#000;
    color:#222;
    padding-left:10px;
    margin-right:3px;
}
.tabs  .ajax__tab_header .ajax__tab_inner 
{
    background:url(img/blue/itemhover1.jpg) no-repeat right top;
    border-color:#000;
    color:#000;
    padding:3px 10px 2px 0px;
}
.tabs  .ajax__tab_hover .ajax__tab_inner 
{
    color:#000000;
    background: url(img/blue/itemhover1.jpg) repeat-x 0 0;
    font-weight:bold;

}
.tabs  .ajax__tab_hover .ajax__tab_outer 
{
    color:#000000;
    background: url(img/blue/itemhover1.jpg) repeat-x 0 0;
    font-weight:bold;
}
.tabs  .ajax__tab_active .ajax__tab_outer 
{
	background:url(img/blue/tab.png) no-repeat 0pt -40px;
	background: url(img/blue/buttonface.jpg) repeat;
    border-bottom-color:#ffffff;
}
.tabs  .ajax__tab_active .ajax__tab_inner 
{
    background:url(img/blue/tab.png) no-repeat right -40px;
    background: url(img/blue/buttonface.jpg) repeat;
    color:#fff;
    border-color:#333
}
.tabs  .ajax__tab_body 
{
    padding:8px;
    background-color:#ffffff;
    border:solid 1px #d7d7d7;
    border-top-width:0;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

#modcontainer {
background-color: 	#F2F4FC;
border:1px solid    #999999;
float:left;
font-size:12px;
}

#modcontainer h1 {
    background:url(img/blue/backhead.jpg) #FCECC7 repeat-x;
    font-size:120%;
    text-transform:uppercase;
	color:#FFFFFF;
	text-align:center;
   	height: 18px;
   	margin: 0;
   	padding: 5PX;
}


#modcontainer .body {
  	background-color: #FFFFFF;
   	padding:10PX;
}

#modcontainer .footer
{
   	height: 30px;
    float:right;
    padding: 10px 0 0 0 ;
} 

#modcontainer .row-label {
line-height:15px;
text-align: right;
font-weight:bold;
color: #224B81;
vertical-align:top ;
padding:   0PX 4px 2PX 2PX;
}

#modcontainer .row-data {
line-height:15px;
text-align: left;
font-weight:bold;
vertical-align: top;
padding:   0PX 4px 2PX 2PX;
}

#modcontainer .textarea
{
    line-height:15px;
    font-weight: normal;    
    background-color: White;
    border-style:solid;
	cursor:pointer;
   	border:1px solid #999999;
}

#modcontainer .textbox
{
    line-height:15px;
    font-weight: normal;    
    background-color: White;
    border-style:solid;
	cursor:pointer;
   	border:1px solid #999999;
}

#modcontainer .dropdown
{
    line-height:15px;
    padding:1px;
    height: 22px;
    font-weight: normal;
    background-color: White;
    border-style:solid;
	cursor:pointer;
   	border:1px solid #999999;
}


/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop3.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
/* style the outer div to give it width */

.menu {font-size:11px; width:950px;  background: url(img/blue/menubar.jpg); height:31px; padding:0px; float:right; }
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none; height:31px; background:#267cb2 url(img/blue/menubar.jpg); font-weight:bold;}

/* style the sub-level lists */
.menu ul ul {width: auto;}

/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu ul li {float:left;height:31px;line-height:31px;}

/* style the sub level list items */
.menu ul ul li {display:block;width: auto;height:auto;position:relative;line-height:1em; border-bottom:1px #2384BF solid;}

/* style the links for the top level */
.menu a, .menu a:visited {display:block;float:left;height:100%;font-size:11px;text-decoration:none;color:#fff;background:#267cb2 url(img/blue/menubar.jpg);padding:0 21px 0 17px;}
.menu a.current{background: url(img/blue/itemhover.jpg);}
/* style the sub level links */
.menu ul ul a, .menu ul ul a:visited {display:block;background:#267cb2 url(img/blue/menubar.jpg); color:#fff;width:12em;height:100%;line-height:1em; padding:0.5em 1em;}
.menu ul table ul a, .menu ul table ul a:visited  {width:14em; w\idth:12em;}


/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; left:0; top:0; font-size:1em; z-index:-1;}
.menu ul ul table {lef\t:-1px;}
.menu ul ul table ul.left {margin-lef\t:2px;}

.menu li:hover {position:relative;}
* html .menu a:hover {position:relative;}

/* style the third level background */
.menu ul ul ul a, .menu ul ul ul a:visited {background:#267cb2 url(img/blue/menubar.jpg);}
/* style the fourth level background */
.menu ul ul ul ul a, .menu ul ul ul ul a:visited {background:#267cb2 url(img/blue/menubar.jpg);}
/* style the sub level 1 background */
.menu ul :hover a.sub1 {background:#267cb2 url(img/blue/menubar.jpg);}
/* style the sub level 2 background */
.menu ul ul :hover a.sub2 {background:#267cb2 url(img/blue/itemhover.jpg);}

/* style the level hovers */
/* first */
.menu a:hover {color:#000;background:#3da1e0 url(img/blue/itemhover.jpg);}
.menu :hover > a {color:#000;background:#3da1e0 url(img/blue/itemhover.jpg);}
/* second */
.menu ul ul a:hover{color:#000;background:#3da1e0 url(img/blue/itemhover.jpg);}
.menu ul ul :hover > a {color:#000;background:#3da1e0 url(img/blue/itemhover.jpg);}
/* third */
.menu ul ul ul a:hover {background:#3da1e0 url(img/blue/itemhover.jpg);}
.menu ul ul ul :hover > a {background:#3da1e0 url(img/blue/itemhover.jpg);}
/* fourth */
.menu ul ul ul ul a:hover {background:#eee;}


/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden;position:absolute;height:0;top:28px;left:0;width:14em;}

/* position the third level flyout menu */
.menu ul ul ul{left:14em;top:0;width:14em;}

/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {left:-14em;}


/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul, .menu ul a:hover ul {visibility:visible; height:auto; padding-bottom:3em; background:transparent url(images/trans.gif);}
/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{visibility:hidden;}
/* keep the fourth level hidden when you hover on second level list OR link */
.menu ul :hover ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{visibility:visible;}
/* make the fourth level visible when you hover over third level list OR link */
.menu ul :hover ul :hover ul :hover ul {visibility:visible;}



	
	.sidemenu ul { list-style: none; margin : 1px ; padding:0px; }
	.sidemenu ul li a:link, .sidemenu ul li a:visited {display:block; text-decoration:none; padding:5px; background:url(img/blue/navsub.jpg) #DCE4D2 ; color: #000; border-bottom: 1px solid #FFF;}
	.sidemenu ul li a:visited {display:block; text-decoration:none; padding:5px; background:url(img/blue/navsub.jpg) #DCE4D2 ; color: #000; border-bottom: 1px solid #FFF;}
	.sidemenu ul li a:hover {background:url(img/blue/itemhover.jpg) #FCECC7 repeat-x; color: #000; font-weight:bold;}
	.sidemenu ul ul {margin-left:12px;}
	.sidemenu ul ul li {margin:0; background:url(img/blue/navsub.jpg) #DCE4D2 ; color: #FFFFFF; border-bottom: 1px solid #FFF;}
	.sidemenu ul ul a, a:visited {background:url(img/blue/navsub.jpg) #DCE4D2   ; color: #000; }
	.sidemenu ul ul a:hover {background:url(img/blue/itemhover.jpg) #FCECC7 repeat-x; color: #000; font-weight:bold;}

img {
	border:none;
	}

.photo-border {
	border:1px solid #cecece;
	padding:4px;
	background:#d9d9d9 url(../../images/bg-photo.png) top repeat-x;
	margin-bottom:5px;
	display:block;
}

.photo-float-left {
	float:left;
	margin-right:5px;
	}

.image-border-none {
	border:none;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MISC CLASSES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.news-date {
	font-size:0.9em;
	font-style:italic;
	color:#A4A4A4;
}

.arrow {
	vertical-align:middle;
	}

input.button-big {
	font-weight:bold;
	padding:.7em 1.5em;
	font-size:1.1em;
	vertical-align:bottom;
	}

input.button-small {
	font-weight:normal;
	padding:.4em 1em;
	font-size:.8em;
	vertical-align:bottom;
	}

.clear {
	clear:both;
	}

.none {
    display:none;
}

hr{
	color: #E5E5E5;
	background-color: #E5E5E5;
	height: 1px;
	border:0;
	margin:15px 0;
	_margin:10px 0;
	}
li.line, .line { border-top:1px solid #cfcfcf; padding:0; margin:10px 0; background:none; list-style:none;}