<%@ Control Language="VB" AutoEventWireup="false" CodeFile="SideMenu.ascx.vb" Inherits="App_Controls_Common_SideMenu" %>
<%--<div class="sidemenu">
<asp:Literal ID="Literal1" runat="server"></asp:Literal>
</div>--%>

<div class="row">
    <div class="col-xlg-12 col-md-12">
        <asp:Literal ID="Literal1" runat="server"></asp:Literal>
    </div>
</div>
<asp:HiddenField ID="HiddenField1" runat="server" Value="True" />
