<%@ Control Language="VB" AutoEventWireup="false" CodeFile="TopMenu.ascx.vb" Inherits="App_Controls_Common_TopMenu" %>
<asp:Literal ID="Literal1" runat="server"></asp:Literal>
<asp:HiddenField ID="HiddenField1" runat="server" Value="True" />