        <head>
            <style type="text/css">
                .style4
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: large;
                    color: #000099;
                    font-weight: bold;
                }
                .style5
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }
            </style>
             <title>Reports</title>

            <script type="text/javascript">

                function MaintainMenuOpen() {
                    SetHeaderBreadCrumb('', '', '');
                    document.getElementById('divBreadcrumb').innerHTML = "";
                    MainMenuToggle('liLienViewReport');

                    //$('#liLienViewReport').addClass('site-menu-item has-sub active open');

                    return false;

                }
               
                </script>

        </head>
     


                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                              <h2 class="style4" ></h2>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src='<%=ResolveUrl("~/Images/ResourceImages/LienViewLogoReports.png")%>'   alt="LienView Logo" class="float-center" style="width: 750px; height:525px" />
                                        </div>
                                    </div>
                                </div>
