        <head>
            <style type="text/css">
                .style4
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: large;
                    color: #000099;
                    font-weight: bold;
                }
                .style5
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }
            </style>
        </head>
        <h2 class="style4"></h2><br />
        
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src='<% = ResolveUrl("~/Images/ResourceImages/LienViewLogo1.jpg") %>'  alt="LienView Logo" class="float-center" style="width: 700px; height: 500px" />
        <br />