<%@ Control Language="VB" AutoEventWireup="false" Inherits="HDS.WEBSITE.UI.BaseUserControl" %>
<%@ Register Assembly="HDS.WEBLIB" Namespace="HDS.WEBLIB.Controls" TagPrefix="cc1" %>

<style type="text/css">
    .style2
    {
        font-family: Arial, Helvetica, sans-serif;
    }
    .style3
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }
    .style4
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-small;
    }
    .style5
    {
        font-size: x-small;
    }
</style>
        <tr>
                    <td>
						<table cellpadding="0" cellspacing="0" border="0" 
    width="75%" align="center" class="style4">
							<tr>
								<td align="center" valign="top"><img src="ResourceImages/StateFlags10x5.jpg" width="500" height="150" alt="State-Specific Lien Laws"></td>

							</tr>
						</table>
					</td>
        </tr>
        <br />

        <tr>
                    <td>
						<table cellpadding="0" cellspacing="0" border="0" width="75%" align="center">
							<tr>
								<td align="center" class="style3">
									State Lien Laws 
								</td>

							</tr>
							<tr>
								<td align="left" bgcolor="#edfoff" class="style4">
									Information and documents provided in ClientView™, to our clients free of charge, are provided without any warranty, express or implied, as to their legal effect and completeness. CRF Solutions accepts no liability in connection with reliance thereon or any loss sustained by anyone using or relying on the information contained herein. The information and documents offered by CRF Solutions are not a substitute for the advice of an attorney. CRF Solutions strongly recommends you seek assistance from an experienced construction attorney for any legal questions you might have.
								</td>

							</tr>
						</table>
					</td>
        </tr>
        <br />
<tr>
			<td valign="top">
				<table align="center" cellpadding="5" cellspacing="0" border="0">
				<tr>
				    <td align="center" width=30% class="style4"><span class="style5">PRIVATE WORKS</span><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><<span class="style5">PUBLIC WORKS</span><span class="style5"> </span>
			        </td>
			     </tr>
			    </table>
			<td valign="top">
				<table align="center" cellpadding="5" cellspacing="0" border="1">
				<tr>
				    <td align="center" width=2o% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Alabama Lien Law">
                        <span class="style5">Alabama Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=2o% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Montana Lien Law">
                        <span class="style5">Montana Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=22% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Alabama Lien Law">
                        <span class="style5">Alabama Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=22% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Montana Lien Law">
                        <span class="style5">Montana Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>    
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Alaska Lien Law">
                        <span class="style5">Alaska Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Nebraska Lien Law">
                        <span class="style5">Nebraska Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Arizona Lien Law">
                        <span class="style5">Arizona Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Nevada Lien Law">
                        <span class="style5">Nevada Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Arkansas Lien Law">
                        <span class="style5">Arkansas Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="New Jersey Lien Law">
                        <span class="style5">New Hampshire Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="California Lien Law">
                        <span class="style5">California Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="New Jersey Lien Law">
                        <span class="style5">New Jersey Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Colorado Lien Law">
                        <span class="style5">Colorado Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="New Mexico Lien Law">
                        <span class="style5">New Mexico Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Connecticut Lien Law">
                        <span class="style5">Connecticut Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="New York Lien Law">
                        <span class="style5">New York Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Delaware Lien Law">
                        <span class="style5">Delaware Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="North Carolina Lien Law">
                        <span class="style5">North Carolina Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="District of Columbia Lien Law">
                        <span class="style5">District of Columbia Lien Law</span></a><span 
                            class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="North Dakota Lien Law">
                        <span class="style5">North Dakota Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Florida Lien Law">
                        <span class="style5">Florida Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Ohio Lien Law">
                        <span class="style5">Ohio Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Georgia Lien Law">
                        <span class="style5">Georgia Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Oklahoma Lien Law">
                        <span class="style5">Oklahoma Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Hawaii Lien Law">
                        <span class="style5">Hawaii Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Oregon Lien Law">
                        <span class="style5">Oregon Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Idaho Lien Law">
                        <span class="style5">Idaho Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Pennsylvania Lien Law">
                        <span class="style5">Pennsylvania Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Illinois Lien Law">
                        <span class="style5">Illinois Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Rhode Island Lien Law">
                        <span class="style5">Rhode Island Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Indiana Lien Law">
                        <span class="style5">Indiana Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="South Carolina Lien Law">
                        <span class="style5">South Carolina Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Iowa Lien Law">
                        <span class="style5">Iowa Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="South Dakota Lien Law">
                        <span class="style5">South Dakota Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Kansas Lien Law">
                        <span class="style5">Kansas Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Tennessee Lien Law">
                        <span class="style5">Tennessee Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Kentucky Lien Law">
                        <span class="style5">Kentucky Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Texas Lien Law">
                        <span class="style5">Texas Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Louisianna Lien Law">
                        <span class="style5">Louisianna Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Utah Lien Law">
                        <span class="style5">Utah Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Maine Lien Law">
                        <span class="style5">Maine Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Vermont Lien Law">
                        <span class="style5">Vermont Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Maryland Lien Law">
                        <span class="style5">Maryland Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Virginia Lien Law">
                        <span class="style5">Virginia Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Massachusetts Lien Law">
                        <span class="style5">Massachusetts Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Washington Lien Law">
                        <span class="style5">Washington Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Michigan Lien Law">
                        <span class="style5">Michigan Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="West Virginia Lien Law">
                        <span class="style5">West Virginia Lien Law</span></a><span class="style5">
                        </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Minnesota Lien Law">
                        <span class="style5">Minnesota Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Wisconsin Lien Law">
                        <span class="style5">Wisconsin Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Mississippi Lien Law">
                        <span class="style5">Mississippi Lien Law</span></a><span class="style5"> </span>
			        </td>
			        <td align="center" width=30% class="style2"><a href="http://constructionliens.uslegal.com/state-laws/alaska-construction-lien-law/" title="Wyoming Lien Law">
                        <span class="style5">Wyoming Lien Law</span></a><span class="style5"> </span>
			        </td>
			    </tr>
			    <tr>
			        <td align="center" width=30% class="style4"><a href="http://constructionliens.uslegal.com/state-laws/alabama-construction-lien-law/" title="Missouri Lien Law">
                        <span class="style5">Missouri Lien Law</span></a><span class="style5"> </span>
			        </td>
			        
			    </tr>
			    
			        
			    </table>
			</td>
</tr>
				    
