
        <head>
            <style type="text/css">
                .style1
                {
                    font-family: Arial, Helvetica, sans-serif;
                    
                }
                .style3
                {
                    font-size: small;
                }
                .style4
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    color: #000099;
                }
                .style5
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: x-large;
                }
            </style>
        </head>
        <h2 class="style5">LienView Training Videos</h2><br />        
             
        <a href="?help.LVEnterJob"><img src="images/LVEnteringJobs.jpg" alt="Enter New Job" class="photo-float-left photo-border" style="width: 130px; height: 119px" /></a>
        <br /><br /><br /><h4><strong><span class="style1" style="color: #000080">Entering A New Job In LienView</span></strong></h4>
        <br /><br /><br /><br />               
                
        <a href="?help.LVViewJob"><img src="images/LVViewingJobs.jpg" alt="View Job" class="photo-float-left photo-border" style="width: 130px; height: 119px" /></a>        
        <br /><br /><br /><h4><strong><span class="style1" style="color: #000080">Viewing A Job In LienView</span></strong></h4>
        <br /><br /><br /><br />     
        
        <a href="?help.LVFilterJob"><img src="images/LVFilterJobs.jpg" alt="Find Job" class="photo-float-left photo-border" style="width: 130px; height: 119px" /></a>        
        <br /><br /><br /><h4><strong><span class="style1" style="color: #000080">Finding A Job In LienView</span></strong></h4>
        <br /><br /><br /><br />           
        
        <a href="?help.LVWaiver"><img src="images/LVCreatingWaivers.jpg" alt="Create Waiver" class="photo-float-left photo-border" style="width: 130px; height: 119px" /></a>        
        <br /><br /><br /><h4><strong><span class="style1" style="color: #000080">Creating Lien Waivers In LienView</span></strong></h4>
        <br /><br /><br /><br />
        
         
<br />