<head>
    <style type="text/css">
        .style1 {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<script type="text/javascript">

    function MaintainMenuOpen() {
        SetHeaderBreadCrumb('LienView', 'Help', 'Enter Jobs');
        MainMenuToggle('liLienTrainingVideos');
        SubMenuToggle('liLienEnterJobs');
        //$('#liLienTrainingVideos').addClass('site-menu-item has-sub active open');
        //$('#liLienEnterJobs').addClass('site-menu-item active');
        return false;

    }

</script>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12" style="text-align: left;">
            <h2 class="style4">Entering A Job In LienView</h2>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" style="text-align: left;">
            <div style="width: auto; height: auto; overflow: auto;">
                <object id="csPlayer" width="800" height="525" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab">
                    <param name="quality" value="high"></param>
                    <param name="src" value="http://content.screencast.com/?parameters=e00d0d3e-c67e-444d-a5c6-b688ac59c07f_5cc9ab31-690a-4de2-9cf7-8019f7bb7c26_static_0_application/x-shockwave-flash_NewJobNoAudio_controller.swf"></param>
                    <param name="flashVars" value="csPreloader=http://content.screencast.com/?parameters=e00d0d3e-c67e-444d-a5c6-b688ac59c07f_5cc9ab31-690a-4de2-9cf7-8019f7bb7c26_static_0_application/x-shockwave-flash_NewJobNoAudio_preload.swf&csConfigFile=http://content.screencast.com/?parameters=e00d0d3e-c67e-444d-a5c6-b688ac59c07f_5cc9ab31-690a-4de2-9cf7-8019f7bb7c26_dynamic_4_text/xml_NewJobNoAudio_config.xml"></param>
                    <embed id="Embed1" width="700" height="583" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://content.screencast.com/?parameters=e00d0d3e-c67e-444d-a5c6-b688ac59c07f_5cc9ab31-690a-4de2-9cf7-8019f7bb7c26_static_0_application/x-shockwave-flash_NewJobNoAudio_controller.swf" flashvars="csPreloader=http://content.screencast.com/?parameters=e00d0d3e-c67e-444d-a5c6-b688ac59c07f_5cc9ab31-690a-4de2-9cf7-8019f7bb7c26_static_0_application/x-shockwave-flash_NewJobNoAudio_preload.swf&csConfigFile=http://content.screencast.com/?parameters=e00d0d3e-c67e-444d-a5c6-b688ac59c07f_5cc9ab31-690a-4de2-9cf7-8019f7bb7c26_dynamic_4_text/xml_NewJobNoAudio_config.xml" type="application/x-shockwave-flash"></embed>
                </object>
            </div>
        </div>
    </div>
</div>

