<head>
    <style type="text/css">
        .style1 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .style2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: x-small;
            color: #000000;
        }

        .style3 {
            font-size: x-small;
        }

        .style4 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
            color: #000099;
        }
    </style>
</head>
<script type="text/javascript">

    function MaintainMenuOpen() {
        SetHeaderBreadCrumb('LienView', 'Help', 'View Jobs');
        MainMenuToggle('liLienTrainingVideos');
        SubMenuToggle('liLienViewJobs');
        //$('#liLienTrainingVideos').addClass('site-menu-item has-sub active open');
        //$('#liLienViewJobs').addClass('site-menu-item active');
        return false;

    }

</script>


<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12" style="text-align: left;">
            <h2 class="style4">Viewing A Job In LienView</h2>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" style="text-align: left;">
            <div style="width: auto; height: auto; overflow: auto;">
                <object id="csPlayer" width="800" height="525" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab">
                    <param name="quality" value="high"></param>
                    <param name="src" value="http://content.screencast.com/?parameters=f79969e2-ed1a-411b-aed1-8b390fe49202_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_static_0_application/x-shockwave-flash_JobIInfo_controller.swf"></param>
                    <param name="flashVars" value="csPreloader=http://content.screencast.com/?parameters=f79969e2-ed1a-411b-aed1-8b390fe49202_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_static_0_application/x-shockwave-flash_JobIInfo_preload.swf&csConfigFile=http://content.screencast.com/?parameters=f79969e2-ed1a-411b-aed1-8b390fe49202_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_dynamic_4_text/xml_JobIInfo_config.xml"></param>
                    <embed id="Embed1" width="700" height="583" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://content.screencast.com/?parameters=f79969e2-ed1a-411b-aed1-8b390fe49202_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_static_0_application/x-shockwave-flash_JobIInfo_controller.swf" flashvars="csPreloader=http://content.screencast.com/?parameters=f79969e2-ed1a-411b-aed1-8b390fe49202_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_static_0_application/x-shockwave-flash_JobIInfo_preload.swf&csConfigFile=http://content.screencast.com/?parameters=f79969e2-ed1a-411b-aed1-8b390fe49202_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_dynamic_4_text/xml_JobIInfo_config.xml" type="application/x-shockwave-flash"></embed>
                </object>
            </div>
        </div>
    </div>
</div>

