<head>
    <style type="text/css">
        .style1 {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<script type="text/javascript">

    function MaintainMenuOpen() {
        SetHeaderBreadCrumb('LienView', 'Help', 'Create Lien Waiver');
        MainMenuToggle('liLienTrainingVideos');
        SubMenuToggle('liLienCreatewaiver');
        //$('#liLienTrainingVideos').addClass('site-menu-item has-sub active open');
        //$('#liLienCreatewaiver').addClass('site-menu-item active');
        return false;

    }

</script>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12" style="text-align: left;">
            <h2 class="style4">Creating Lien Waivers In LienView</h2>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" style="text-align: left;">
            <div style="width: auto; height: auto; overflow: auto;">
                <object id="csPlayer" width="800" height="525" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab">
                    <param name="quality" value="high"></param>
                    <param name="src" value="http://content.screencast.com/?parameters=adaa336f-4dab-4eb8-9f69-cb60a4d49e74_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_static_0_application/x-shockwave-flash_Waivers_controller.swf"></param>
                    <param name="flashVars" value="csPreloader=http://content.screencast.com/?parameters=adaa336f-4dab-4eb8-9f69-cb60a4d49e74_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_static_0_application/x-shockwave-flash_Waivers_preload.swf&csConfigFile=http://content.screencast.com/?parameters=adaa336f-4dab-4eb8-9f69-cb60a4d49e74_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_dynamic_4_text/xml_Waivers_config.xml"></param>
                    <embed id="Embed1" width="700" height="583" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://content.screencast.com/?parameters=adaa336f-4dab-4eb8-9f69-cb60a4d49e74_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_static_0_application/x-shockwave-flash_Waivers_controller.swf" flashvars="csPreloader=http://content.screencast.com/?parameters=adaa336f-4dab-4eb8-9f69-cb60a4d49e74_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_static_0_application/x-shockwave-flash_Waivers_preload.swf&csConfigFile=http://content.screencast.com/?parameters=adaa336f-4dab-4eb8-9f69-cb60a4d49e74_2d8d3855-4ff5-4714-b26b-c3fdd1b93c29_dynamic_4_text/xml_Waivers_config.xml" type="application/x-shockwave-flash"></embed>
                </object>
            </div>
        </div>
    </div>
</div>

