﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Dropdown.ascx.vb" Inherits="App_Controls_JobView_Dropdown" %>
<script type="text/javascript">
    $(document).ready(function () {
        //alert('hi');
      
    });
    function OpenJobNewModal123() {
       // alert('hi');
        $('#editable-select12345').editableSelect();
        $("#ModalJobNew123").modal('show');
    }
    //$(document).on("pageload", function () {
    //    $('#editable-select123').editableSelect();
    //    alert("pageload event fired - the external page has been successfully loaded and inserted into the DOM!");
    //});
</script>
<link href="assets/js/editableDDL/jquery-editable-select.min.css" rel="stylesheet" />
<input type="button" id="btnJobNew" onclick="OpenJobNewModal123();" value="Job Edit Dropdown" class="btn btn-primary" />
<div class="modal fade modal-primary" id="ModalJobNew123" aria-hidden="true" onkeypress="return noenter(event)" aria-labelledby="examplePositionCenter" role="dialog"  style="display: none;" data-backdrop="static">

    <div class="modal-dialog modal-center modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div class="body">
                    <select id="editable-select12345">
                        <option>Alfa Romeo</option>
                        <option>Audi</option>
                        <option>BMW</option>
                        <option>Citroen</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="assets/js/editableDDL/jquery-editable-select.min.js"></script>
